<h2 style="text-align: center;"> AbiSan Products</h2>
<input
  type="text"
  style="align-items: center; display: block; margin: 0 auto 20px auto; padding: 10px; width: 300px;"
  placeholder="Search products..."
  (input)="search.set($any($event.target).value)"
/>

<div *ngIf="filteredProducts().length === 0">
  No products match your search
</div>

<div class="product-container">
  <app-product-card
    *ngFor="let product of filteredProducts()"
    [product]="product">
  </app-product-card>
</div>